.footer{
    width: calc(100% - 96px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 1023px){
    .footer{
        width: calc(100% - 48px);
    }

}

@media (max-width: 670px){
    .footer{
        width: calc(100% - 32px);
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

}

